bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/ProjectEvaluation/stepacademyapp.metadata.v6.1
.vs/StepAcademyApp/v17/.suo
.vs/StepAcademyApp/v17/.futdcache.v2
.vs/StepAcademyApp/FileContentIndex/read.lock
.vs/StepAcademyApp/FileContentIndex/e97e9b14-f803-4abb-8424-dd6a8da6bee3.vsidx
.vs/StepAcademyApp/FileContentIndex/956e5e80-5900-4abf-aded-13d08aff78eb.vsidx
.vs/StepAcademyApp/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/stepacademyapp.projects.v6.1
.vs/StepAcademyApp/FileContentIndex/998cd949-3808-400f-84cf-f89f1b443110.vsidx
.vs/StepAcademyApp/FileContentIndex/3f0d473b-d5b1-4829-80f4-9e63c15adfdf.vsidx
